<div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
  <div class="form-group">
    <input class="form-control signature" readonly="readonly" name="medication_count[signature_lists_attributes][serial_number][signature]" id="medication_count_signature_lists_attributes_serial_number_signature" type="text">
    <label class="form-control-placeholder" for="medication_count_signature_lists_attributes_serial_number_signature">Signature</label>
  </div>
</div>

<div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
  <div class="form-group">
    <input class="form-control" name="medication_count[signature_lists_attributes][serial_number][initials]" id="medication_count_signature_lists_attributes_serial_number_initials" type="text">
    <label class="form-control-placeholder" for="medication_count_signature_lists_attributes_serial_number_initials">Initials</label>
  </div>
</div>
      