.users {
  .chosen-container {
    margin-top: 11px;
    margin-bottom: 0;
  }

  .no-padding {
    padding-left: 0;

    input {
      margin-right: 10px;
    }
  }

  .fa {
    margin-right: 5px;
  }
}