

<div class="col-md-6 col-sm-12 savebut">
  <div class="form-group">
    <input class="form-control datepicker" required="required" name="medication[ist_informations_attributes][serial_number][date]" id="medication_ist_informations_attributes_serial_number_date" type="text">
    <label class="form-control-placeholder" for="medication_ist_informations_attributes_serial_number_date">Date</label>
  </div>

  <div class="form-group plusinput">
    <input class="form-control signature" readonly="readonly" name="medication[ist_informations_attributes][serial_number][signature_of_dd_person]" id="medication_ist_informations_attributes_serial_number_signature_of_dd_person" type="text">
    <label class="form-control-placeholder" for="medication_ist_informations_attributes_serial_number_signature_of_dd_person">Signature of dd person</label>
  </div>

  <div class="form-group">
    <input class="form-control datepicker" name="medication[ist_informations_attributes][serial_number][date_first_completed_by_person]" id="medication_ist_informations_attributes_serial_number_date_first_completed_by_person" type="text">
    <label class="form-control-placeholder" for="medication_ist_informations_attributes_serial_number_date_first_completed_by_person">Date first completed by person</label>
  </div>
  <div class="form-group">
    <input class="form-control datepicker" name="medication[ist_informations_attributes][serial_number][date_of_change_2]" id="medication_ist_informations_attributes_serial_number_date_of_change_2" type="text">
    <label class="form-control-placeholder" for="medication_ist_informations_attributes_serial_number_date_of_change_2">Date of Update/Changes</label>
  </div>
</div>

<div class="col-md-6 col-sm-12 savebut">
  <div class="form-group">
    <input class="form-control timepicker" required="required" name="medication[ist_informations_attributes][serial_number][time]" id="medication_ist_informations_attributes_serial_number_time" type="text">
    <label class="form-control-placeholder" for="medication_ist_informations_attributes_serial_number_time">Time</label>
  </div>

  <div class="form-group plusinput">
    <input class="form-control signature" readonly="readonly" name="medication[ist_informations_attributes][serial_number][signature_of_trainer]" id="medication_ist_informations_attributes_serial_number_signature_of_trainer" type="text">
    <label class="form-control-placeholder" for="medication_ist_informations_attributes_serial_number_signature_of_trainer">Signature of trainer</label>
  </div>
  <div class="form-group">
    <input class="form-control datepicker" name="medication[ist_informations_attributes][serial_number][date_of_change_1]" id="medication_ist_informations_attributes_serial_number_date_of_change_1" type="text">
    <label class="form-control-placeholder" for="medication_ist_informations_attributes_serial_number_date_of_change_1">Date of Update/Changes</label>
  </div>

  <div class="form-group">
    <input class="form-control datepicker" name="medication[ist_informations_attributes][serial_number][date_of_change_3]" id="medication_ist_informations_attributes_serial_number_date_of_change_3" type="text">
    <label class="form-control-placeholder" for="medication_ist_informations_attributes_serial_number_date_of_change_3">Date of Update/Changes</label>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function(){


    $(function () {

      $('.datepicker').datepicker({

        format: 'yyyy/mm/dd',
        icons: {
          time: 'fa fa-clock',
          date: 'fa fa-calendar',
          up: 'fa fa-arrow-up',
          down: 'fa fa-arrow-down',
          previous: 'fa fa-chevron-left',
          next: 'fa fa-chevron-right',
          today: 'fa fa-calendar-check-o',
          clear: 'fa fa-trash',
          close: 'fa fa-times'

        },

      });

      $('.timepicker').datetimepicker({

        icons: {
          time: 'fa fa-clock',
          date: 'fa fa-calendar',
          up: 'fa fa-arrow-up',
          down: 'fa fa-arrow-down',
          previous: 'fa fa-chevron-left',
          next: 'fa fa-chevron-right',
          today: 'fa fa-calendar-check-o',
          clear: 'fa fa-trash',
          close: 'fa fa-times'

        },

        format: 'LT'
      });

    });

  });

</script>