

<div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
  <div class="form-group">
    <input class="form-control signature" required="required" name="mar[signature_lists_attributes][serial_number][signature]" id="mar_signature_lists_attributes_serial_number_signature" type="text">
    <label class="form-control-placeholder" for="mar_signature_lists_attributes_serial_number_signature">Signature</label>
  </div>
</div>

<div class="col-md-4 col-sm-6 col-lg-4 col-xs-4">
  <div class="form-group">
    <input class="form-control" name="mar[signature_lists_attributes][serial_number][initials]" id="mar_signature_lists_attributes_serial_number_initials" type="text">
    <label class="form-control-placeholder" for="mar_signature_lists_attributes_serial_number_initials">Initials</label>
  </div>
</div>

<div class="col-md-2 col-sm-6 col-lg-2 col-xs-2">
<input name="mar[signature_lists_attributes][serial_number][_destroy]" value="0" type="hidden"><input value="1" name="mar[signature_lists_attributes][serial_number][_destroy]" id="mar_signature_lists_attributes_serial_number__destroy" type="checkbox">
<label for="mar_signature_lists_attributes_serial_number_delete">Delete</label>
</div>


    